@font-face {
	font-family: "Cooper Black";
	src: url('/fonts/CP.ttf');
}

#top{
	font-family: "Cooper Black";
	color: white;
	text-align: right;
	margin-right: 50px;
	text-shadow: 2px 2px 4px black;
	
}

#wehike{	
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 20px;
}

a{
text-decoration: none;
color: white;	

}

#welcome{
	font-size: 27px;
	margin: 5px;
	text-shadow: 2px 2px 4px black;

}

#dropdown{
	float: left;
	margin-left: 25px;
} 

.dropbtn {
	background-color: white;
	color: white;
	padding: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 15%;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #888844;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	text-align: left;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	font-family: "Cooper Black";
	font-size: 20px;
	z-index: 1;
	text-shadow: none;

  }

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;

}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

