body{
	margin: 0px;
	background-color: #FDF5E6; 
	background-image: url('images/landscape3.jpg');
	background-repeat: no-repeat;
	background-size: 100% 45%;
}

@font-face{
	font-family: "Cooper Black";
	src: url('/fonts/CP.ttf');
}

#border{
	background-color: white;
	padding: 30px 10px 20px 20px;
	width: 900px;
	height: 950px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5%;
	border: 1px solid black;

}

#container{
	padding: 15px;	
	width: 850px;
	height: 800px;
	background: white;
	overflow: scroll;
	font-size: 18px;
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}	

#title{
	text-align: center;
	font-family: "Cooper Black";
	color: white;
	font-size: 40px;
	text-shadow: 2px 2px 4px black;
}

#response{
	font-family: "Cooper Black";
	font-size: 30px;
	color: black;
	font-weight: bold;
	text-align: center;
}

